body {
    margin: 0;
    padding: 0;
    background: #ff005c;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
    text-transform: uppercase;
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    letter-spacing: 15px;
    font-family: sans-serif;
}
